@import './reset.css';
@import url('https://fonts.googleapis.com/css2?family=Alice&family=Raleway:wght@400;500;600&display=swap');

:root {
	/* Colors */
	--black: #171718;
	--white: #fff;
	--orange600: #F89434;
	--blue600 : #032C4A;
	--blue400 : #3591A5;
	--blue300 : #C7F5FF;
	--pink600 : #DC725D;
	--Green400 : #63804D;
    --Brownish600 : #272022;

	--page-bg: var(--white);
	--text-color: var(--black);
	--accent: var(--orange600);
	--title-1: var(--black);
	--title-2: var(--black);
}

html,
body {
	display: flex;
	flex-direction: column;


	font-family: 'Raleway';
	font-style: normal;
	letter-spacing: -0.5px;

	background-color: var(--page-bg);
	color: var(--text-color);
}

/* General */

.container {
	margin: 0 auto;
	padding: 0 15px;
	max-width: 1200px;
}

.none {
	display: none !important;
}

.section {
	padding: 50px 0;
}

.title-1 {
	margin-bottom: 60px;
	font-size: 74px;
	font-weight: 300;
	color: var(--title-1);
	line-height: 30px;
	text-align: center;
	font-family: 'Alice';
	font-style: normal;
}

.title-2 {
	margin-bottom: 20px;
	font-size: 54px;
	font-weight: 300;
	color: var(--title-2);
	line-height: 30px;
	text-align: center;
	font-family: 'Alice';
	font-style: normal;
}
.bold-text {
    font-weight: 700; /* Жирный текст */
	font-size: 40px;
}
.left-align {
    text-align: left;

}
.colored-text {
    color: #3591A5;
}

.content-list__item {
	font-size: 24px;
	line-height: 1.5;
}

.horizontal-list {
    display: flex;
    flex-direction: row; /* Размещает элементы по горизонтали */
    justify-content: center; /* Центрирует элементы по горизонтали */
    align-items: center; /* Центрирует элементы по вертикали */
    gap: 10px; /* Расстояние между элементами */
    text-align: center; /* Центрирует текст внутри элементов */
}

.vertical-list {
    display: flex;
    flex-direction: column; /* Размещает элементы по вертикали */
    align-items: center; /* Центрирует элементы по горизонтали */
    gap: 60px; /* Расстояние между элементами */
    text-align: center; /* Центрирует текст внутри элементов */
}

/* Button styles */
.services {
    display: inline-block;
    max-width: 270px;
    padding: 10px 20px;
    color: #ffffff;  
    background-color: #3591A5; 
    border: none;   
    border-radius: 20px; 
    font-size: 24px;
    z-index: 3;
    cursor: pointer;
}

.services:hover {
    background-color: #032C4A;
}




/* Media Queries for Responsive Design */

/* Large devices (desktops, 1200px and up) */
@media (min-width: 1200px) {
    .title-1 {
        font-size: 74px;
    }
    .title-2 {
        font-size: 54px;
    }
}

/* Medium devices (tablets, 768px to 1199px) */
@media (max-width: 1199px) {
    .container {
        max-width: 900px;
    }
    .title-1 {
        font-size: 60px;
    }
    .title-2 {
        font-size: 48px;
    }
    .content-list__item {
        font-size: 22px;
    }
}

/* Small devices (landscape phones, 576px to 767px) */
@media (max-width: 767px) {
    .container {
        max-width: 540px;
    }
    .title-1 {
        font-size: 50px;
    }
    .title-2 {
        font-size: 40px;
    }
    .content-list__item {
        font-size: 20px;
    }
    .horizontal-list {
        flex-direction: column; /* Размещает элементы по вертикали */
        gap: 10px; /* Уменьшает расстояние между элементами */
    }
}

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575px) {
    .container {
        max-width: 100%;
    }
    .title-1 {
        font-size: 40px;
    }
    .title-2 {
        font-size: 32px;
    }
    .content-list__item {
        font-size: 18px;
    }
    .horizontal-list {
        flex-direction: column; /* Размещает элементы по вертикали */
        gap: 10px; /* Уменьшает расстояние между элементами */
    }
}