/* Footer */
.footer {
    margin-top: auto;
    padding: 40px 20px;
    background-color: var(--accent);
    color: var(--white);
    font-weight: 600;
    line-height: 24px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.footer-content {
    display: flex;
    justify-content: space-around;
    width: 100%;
    max-width: 1200px;
    flex-wrap: wrap;
    text-align: center;
    margin-bottom: 20px;
}

.contact-info {
    margin: 10px;
}

.social-links {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    margin: 10px;
}

.social__item img {
    width: 40px;
    height: 40px;
}

.social__item img:hover {
    filter: invert(1);
}

.footer-bottom {
    text-align: center;
    font-size: 1em;
}

/* Responsive Design */

@media (min-width: 1200px) {
    .footer {
        padding: 60px 20px 50px;
    }
    .footer-content {
        flex-wrap: nowrap;
    }
}

@media (max-width: 1199px) {
    .footer {
        padding: 50px 15px 40px;
    }
    .social__item img {
        width: 35px;
        height: 35px;
    }
}

@media (max-width: 767px) {
    .footer {
        padding: 40px 10px 30px;
    }
    .social__item img {
        width: 30px;
        height: 30px;
    }
    .footer-content {
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width: 575px) {
    .footer {
        padding: 30px 5px 20px;
    }
    .social__item img {
        width: 25px;
        height: 25px;
    }
    .footer-content {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
}
