.body-page2 {
    background-image: url("../../img/reg-log-back.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
}

div {
    font-family: 'Georgia', serif;
    flex-direction: column;
    margin: auto;
}

p {
    text-align: center;
    font-size: 1.2em;
}

Form {
    margin-top: 1.5%;
    width: 100%;
}

Button {
    margin-top: 2%;
}

.reg-head {
    background-color: rgba(97, 168, 212, 1);
    padding: 1.3%;
    margin-top: 60px;
    width: 150%;
    height: 100px;
    text-align: center;
    border-radius: 18px;
    margin-bottom: 20px;
}

h1 {
    color: black;
}

.reg-main {
    margin-top: 1%;
    width: 140%;

    display: flex;
    flex-direction: column;
    align-items: center;
}


.reg-main Button {
    margin-top: 20px;
}

.reg-main p {
    text-align: center;
}

.text-center{
    margin-left: 0;
    margin-top: 20px;
    margin-bottom: 60px;
    width: 100%;
    text-align: center;
    justify-content: center;
    align-content: center;
}


Form {
    margin-top: 1.5%;
    width: 100%;
    justify-items: center;
    justify-content: center;
    font-size: 1.1rem;
}
