
.content-list__image {
    margin-right: 20px; /* Отступ справа от большой картинки */
    flex: 0 0 auto; /* Оставляем большую картинку фиксированной ширины */
}

.content-list__image img {
    width: 600px; /* Ширина большой картинки */
    height: auto; /* Высота автоматически подстраивается */
}
.foreground-image2,
.foreground-image3 {
    width: 100px; /* Примерный размер иконок, можно изменить */
    height: auto;
    margin-right: 10px; /* Расстояние между иконкой и текстом */
}



