.resort-container2 {
    position: relative;
    width: 100%;
    height: 450vh; 
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    background-color: var(--blue600);
}

.background-block2 {
    position: absolute;
    z-index: 1;
}
.green-block {
    top: 80%;
    left: 20%;
    width: 80%;
    height: 19%;
    background-color: var(--Green400); 
}

.white-block2 {
    top: 75%;
    width: 100%;
    height: 25%;
    background-color: var(--white); /* Белый цвет */
}
.white-block22 {
    top: 40%;
    width: 100%;
    height: 10%;
    background-color: var(--white); /* Белый цвет */
}

.Brownish-block {
    top: 50%;
    width: 100%;
    height: 25%;
    background-color: var(--Brownish600);
}

.image-Kasina-container {
    position: absolute;
    z-index: 2;
    bottom:47%;
}
.table-container {
    position: relative;
    z-index: 2;
    bottom: 31%;
    background-color: var(--blue600); 
    padding: var(--xxlarge);
    max-width:1050px ;
    min-width:950px;
}

.table .table-bordered {
    color: var(--blue600);
}

.map-container {
    position: absolute;
    z-index: 3;
    bottom: 30%;
}
.last-container {
    position: absolute;
    z-index: 3;
    bottom: 2%;
}

.skipass-button {
    position: absolute;
    top:50%;
    background-color: var(--orange600); /* Цвет кнопки */
    color: var(--white);
}

.skipass-button:hover {
    background-color: var(--blue600);
}

.contact-button {
    position: absolute;
    top:72%;
    background-color: var(--Green400); /* Цвет кнопки */
    color: var(--white);
}

.contact-button:hover {
    background-color: var(--blue300); 
    color: var(--Brownish600);
}

/* Основные стили для таблицы */
.table {
    width: 600px;
    height: auto;
    margin-bottom: 1rem;
    border-collapse: collapse;
    font-size: var(--large);
    border: 5px solid var(--white);
  }
  
  
  /* Заголовки таблицы */
  .table thead th {
    border-bottom: 2px solid var(--white);
    background-color: var(--blue600);
    color: var(--white); /* Цвет текста в заголовках */
    font-weight: bold;
    text-align: center;
    padding: var(--medium) var(--medium);
    border-right: 2px solid var(--white); /* Вертикальные разделители */
}
  
  /* Стили для строк и ячеек таблицы */
  .table tbody td {
    border-top: 2px solid var(--white);
    border-bottom: 2px solid var(--white);
    background-color: var(--blue600);
    color: var(--white); /* Цвет текста в заголовках */
    font-weight: bold;
    text-align: center;
    padding: var(--medium) var(--medium);
    border-right: 2px solid var(--blue300); /* Вертикальные разделители */
  }
  
  .table tbody td, 
  .table tbody th {
    padding: 0.75rem;
    vertical-align: top;
    border-top: 1px solid var(--white);
    color: var(--white); 
    padding: var(--medium) var(--medium);
    border-right: 2px solid var(--white); 
  }
        
  /* Стили для ячеек, объединенных по горизонтали */
  .table td[colspan] {
    text-align: center;
  }
  