
.image-Kasina-container {
    position:absolute;
    z-index: 2;
    right: 25%;
}
.table-container {
    position: relative;
    z-index: 2;

    background-color: var(--white); 
    padding: var(--xxlarge);
    max-width:1050px ;
    min-width:950px;
}

.table .table-bordered {
    color: var(--blue600);
}

.map-container {
    position: static;
    z-index: 3;
}
.last-container {
    position: absolute;
    z-index: 3;
    bottom: 2%;
}
.skipass-button {
    position: static;
    background-color: var(--orange600); /* Цвет кнопки */
    color: var(--white);
}

.skipass-button:hover {
    background-color: var(--blue600);
}

.contacttt-button {
    position: static;
    background-color: var(--Green400); /* Цвет кнопки */
    color: var(--white);
}

.contacttt-button:hover {
    background-color: var(--pink600); 
}

/* Основные стили для таблицы */
.table {
    width: 600px;
    height: auto;
    margin-bottom: 1rem;

    border-collapse: collapse;
    font-size: var(--large);
    border: 5px solid var(--white);
  }
  
  
  /* Заголовки таблицы */
  .table thead th {
    border-bottom: 2px solid var(--white);
    background-color: var(--blue600);
    color: var(--white); /* Цвет текста в заголовках */
    font-weight: bold;
    text-align: center;
    padding: var(--medium) var(--medium);
    border-right: 2px solid var(--white); /* Вертикальные разделители */
}
  
  /* Стили для строк и ячеек таблицы */
  .table tbody td {
    border-top: 2px solid var(--white);
    border-bottom: 2px solid var(--white);
    background-color: var(--blue600);
    color: var(--white); /* Цвет текста в заголовках */
    font-weight: bold;
    text-align: center;
    padding: var(--medium) var(--medium);
    border-right: 2px solid var(--blue300); /* Вертикальные разделители */

  }
  
  .table tbody td, 
  .table tbody th {
    padding: 0.75rem;
    vertical-align: top;

    border-top: 1px solid var(--white);
    color: var(--white); 
    padding: var(--medium) var(--medium);
    border-right: 2px solid var(--white); 

  }
        
  /* Стили для ячеек, объединенных по горизонтали */
  .table td[colspan] {
    text-align: center;
  }
  