.payment-form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 50px;
    margin-bottom: 50px;
  }
  
  .payment-form h2 {
    color:darkblue;
    font-size: 22px;
    margin-bottom: 20px;
  }
  
  .payment-form label {
    display: block;
    margin-bottom: 15px;
  }
  
  .payment-form input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  
  .payment-form button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .payment-form button:hover {
    background-color: #45a049;
  }
  